
.table {
    width: 100%;
    border-collapse: collapse;
    background: transparent;
    margin-top: 20px;
}


    .table thead th {
        background-color: #D3D3D3;
        color: #000;
        padding: 14px 18px;
        font-size: 13px;
        border: none;
    }


    .table td {
        padding: 14px 18px;
        font-size: 14px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #d1d5db;
    }


    .table tbody tr {
        background: transparent;
        transition: .25s ease;
    }


        .table tbody tr:hover {
            background: rgba(234,240,255,.3);
            transform: scale(1.02);
        }



        .table tbody tr:last-child td {
            border-bottom: 1px solid #d1d5db;
        }


    .table td:first-child {
        font-weight: 600;
        color: #0b1f3a;
    }


    .table td:nth-child(2) {
        color: #374151;
    }


    .table td:nth-child(3) {
        color: #6b7280;
    }
